<footer class="content --darker-background">
  <div class="__container">
    <!-- COLUNA 1 -->
    <ul>
      <li>
        <img src="{{ site.baseurl}}/imagens/logo_dados-virais.png" class="logo" alt="imagem do logo" title="logo dados virais" width="200px">
        <ul>
          <li><a href="https://www.dataprivacybr.org/" target="_blank">DATA PRIVACY PESQUISA</a></li>
          <li><a href="https://dataprivacy.com.br/" target="_blank">DATA PRIVACY ENSINO</a></li>
          <li><a href="https://anchor.fm/dadocracia" target="_blank">DADOCRACIA</a></li>
        </ul>
      </li>
    </ul>
    <!-- COLUNA 2 -->
    <ul>
      <li>
        <ul>
          <li>CONTATO INSTITUCIONAL</li>
          <li>+55 11 9 3406 6554</li>
          <li><a href="mailto:contato@dataprivacy.com.br">contato@dataprivacybr.org</a></li>
        </ul>
        <ul>
          <li>IMPRENSA</li>
          <li><a href="mailto:imprensa@dataprivacybr.org">imprensa@dataprivacybr.org</a></li>

        </ul>
        <ul>
          <li><a href="https://instagram.com/dataprivacybrasil"><img src="{{ site.baseurl}}/imagens/ico_instagram.svg" alt="ícone do instagram" title="instagram"></a></li>
          <li><a href="https://twitter.com/DataPrivacyBr"><img src="{{ site.baseurl}}/imagens/ico_twitter.svg" alt="ícone do twitter" title="twitter"></a></li>
          <li><a href="https://www.youtube.com/channel/UCT8kR3_EIBSEqg8kLh6pXTw"><img src="{{ site.baseurl}}/imagens/ico_youtube.svg" alt="ícone do youtube" title="youtube"></a></li>
          <li><a href="https://www.facebook.com/DataPrivacy.br/"><img src="{{ site.baseurl}}/imagens/ico_facebook.svg" alt="ícone do facebook" title="facebook"></a></li>
        </ul>
        <ul>
          <li><a href="https://dataprivacy.com.br/politica-de-privacidade/" target="_blank">Política de uso e Privacidade</a></li>
        </ul>
      </li>
    </ul>
    <!-- COLUNA 3 -->
    <ul>
      <li>
        ENDEREÇO<br>
        Alameda Santos, 1293<br>
        3º Andar Jardim Paulista<br>
        São Paulo – SP<br>
        CEP 01419-904
      </li>
      <li>2021 © todos os direitos reservados</li>
    </ul>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/nav.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/softScroll.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.slider-name').slick({
        arrows: false,
        dots: true
      });
    });
</script>
