<!DOCTYPE html>
  <head>
    <title>Dados Virais</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name=”robots” content="index, follow">
    <meta name="googlebot" content="index,follow" />
    <link rel="canonical" href="https://osdadosvirais.dataprivacybr.org" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/master.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/slick.css"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/imagens/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/imagens/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/imagens/favicon.png">

    <!-- META -->
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/imagens/favicon.png" />
    <meta name="author" content="DataPrivacyBr">
    <meta name="description" content="Uma investigação sobre tecnologias baseadas em dados pessoais, usadas no combate à Covid-19 no Brasil">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">

    <!-- AVOID PHONE NUMBER AUTO FORMAT ON iOS FUCKING SAFARI  -->
    <meta name="format-detection" content="telephone=no">

    <!-- Facebook's OG Tags -->
    <meta property="og:url" content="https://osdadosvirais.dataprivacybr.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dados Virais" />
    <meta property="og:description" content="Uma investigação sobre tecnologias baseadas em dados pessoais, usadas no combate à Covid-19 no Brasil" />
    <meta property="og:image" content="{{ site.baseurl }}/imagens/social-share.png">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">

    <!-- Twitter -->
    <meta name="twitter:description" content="Uma investigação sobre tecnologias baseadas em dados pessoais, usadas no combate à Covid-19 no Brasil">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@DataPrivacyBr" />
    <meta name="twitter:creator" content="@DataPrivacyBr" />
    <meta name="twitter:image" content="{{ site.baseurl }}/imagens/social-share.png">

    <!-- Google Analytics Tracking Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTKTMJZJYX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FTKTMJZJYX');
    </script>
